# kubeflow packages
# elyra==3.15.0 # Temporarily disable due to incompatibility with JupyterLab 4.x and kfp v2
kfp==2.5.0
kfp-server-api==2.0.5
kserve==0.11.2

# common packages
bokeh==3.3.3
cloudpickle==3.0.0
dill==0.3.7
ipympl==0.9.3
ipywidgets==8.1.1
matplotlib==3.8.2
pandas==2.2.0
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.11.4
seaborn==0.13.1
xgboost==2.0.3

# tensorflow packages
keras==3.0.4
